*{margin: 0; padding: 0; box-sizing:border-box;}
a{
    text-decoration: none;
    color: white;
}
.menu{
    height: 35px;
    background: #5a17d5;

}
.menu ul li{
 list-style: none;
 float:left;
 line-height: 35px;
 padding left: 50px;
 margin-left:50px;
}
.menu ul li a{
    color: white;
    font-size: 17px;
}
div.pro{
    width: 1200px;
    margin: auto;
}
body{
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    height: 90px;
    margin-left: 50px;
    background: white;
}
.conten{
    height: 588px;
    background: white;
}
.td{
    width: 1200px;
    height: 175px;
    line-height: 175px; 
    margin-left:75px;
}
.anh{
    width: 193px;
    height: 263px;
    float: left;
    margin-left: 75px;
}
footer {
    width: 1200px;
    height: 45px;
    background: #d58128;
    margin: auto;
}
footer h3{
    text-align: center;
    color: white;
    font-size: 12px;
    list-style: none;
    line-height: 45px;
}






